body{
    background-image: url(tavast.jpg);

}

h1{
    text-align: center;
}
table,td{
    border: 2px solid orangered;

}

table{
    background-color: black;
    color: white;
}
img{
    border: 5px outset black;
    display: block;
    float: right;
    margin-right: 20px;
    width: 80%;
   
}











